<div class="navbar">
  <%= link_to "Rez'events", root_path, class: "navbar-brand" %>
  <% if user_signed_in? && current_user.city_hall_admin? %>
    <%= link_to "Tableau de bord", agent_admin_events_path, class: "navbar-dashboard" %>
  <% end %>
  <% if user_signed_in? && current_user.role == "city_hall_agent" && current_user.city_hall_admin == false %>
    <%= link_to "Tableau de bord", agent_events_path, class: "navbar-dashboard" %>
  <% end %>
  <%= link_to "Proposer un événement", new_my_event_path, class: "navbar-new-event" %>
  <% if user_signed_in? %>
    <%= link_to "Mes événements", my_events_path, class: "navbar-my-events" %>
    <%= link_to "Deconnexion", destroy_user_session_path, method: :delete, class: "navbar-sign-out" %>
  <% else %>
    <%= link_to "Connexion", new_user_session_path, class: "navbar-sign-in" %>
  <% end %>
</div>
