<h1>Tous les évènements de Rezé!</h1>

  <%= render "shared/search" %>

<div class="container">
  <div class="row">
    <div class="col-7">
        <% @events.each do |event|%>
             name= <%= event.name %><br>
             <% if event.organization_name?  %>
             orga= <%= event.organization_name %><br>
             <% end %>

             address = <%= event.address %><br>
             quartier = <%= event.district %><br>
             category = <%= event.category %><br>
             prix = <%= event.pricing_description %><br>
             <%= l(event.start_at, format: "%^a") %><br>
             <%= l(event.start_at, format: "%e") %><br>
             <%= l(event.start_at, format: "%^b") %><br>
             <%= l(event.start_at, format: "%HH%M") %><br>
    <% end %>

    </div>
    <div class="col-5">
    <div id="map"
     style="width: 100%; height: 80vh; position: fi "
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
