<div class="form-container-global d-flex" data-controller="event-form" data-event-form-current-index-value="0">
  <%= simple_form_for @event do |f| %>

    <div class="form-container" data-event-form-target="formContainer">
      <div class="min-height-form">
        <i class="fas fa-map-marker-alt"></i>
        <%= f.input :name, label: "Nom de l'évènement", :input_html => { :class => 'uppercase' }, :input_html => { :maxlength => 140 } %>
        <%= f.input :address, label: "Adresse de l'évènement" %>
        <%= f.input :district, label: "Quartier", collection: @DISTRICTS %>
        <div class="d-flex">
          <%= f.input :start_at, label: "Date de début", as: :datetime, html5: true %>
          <%= f.input :end_at, label: "Date de fin", as: :datetime, html5: true %>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button type="button" data-action="event-form#next" class=" btn btn-form">Suivant</button>
      </div>
    </div>

    <div class="form-container d-none" data-event-form-target="formContainer">
      <div class="min-height-form">
        <i class="fas fa-info-circle"></i>
        <%= f.input :public_description, label: "Description publique", :input_html => { :maxlength => 200 } %>
        <%= f.input :pricing_description, label: "Tarification", :input_html => { :maxlength => 140 } %>
        <%# <div class="input-classic">
          <%= f.input :photo,
                      label: "Télécharcher une image",
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'photo-selector'} %>
        <%# </div> %>
        <div class="center">
          <div class="form-input d-flex">
            <label for="file-ip-1">Télécharger</label>
            <input type="file" id="file-ip-1" accept="image/*">
            <div class="preview">
              <img id="file-ip-1-preview">
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" data-action="event-form#back" class="btn btn-form">Retour</button>
        <button type="button" data-action="event-form#next" class="btn btn-form">Suivant</button>
      </div>
    </div>

    <div class="form-container d-none" data-event-form-target="formContainer">
      <div class="min-height-form">
        <h3>Choisissez une catégorie</h3>
        <div class="form-container-category">
          <%= f.input :category,
                      label: "",
                      required: false,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'category-wrapper',
                      item_wrapper_class: 'category-item',
                      input_html: {class: 'category-selector'},
                      collection: Event::CATEGORIES %>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" data-action="event-form#back" class="btn btn-form">Retour</button>
        <button type="button" data-action="event-form#next" class="btn btn-form">Suivant</button>
      </div>
    </div>

    <div class="form-container d-none" data-event-form-target="formContainer">
      <div class="min-height-form">
        <i class="fas fa-file-signature"></i>
        <div class="form-container-security">
          <%= f.input :required_safety_level,
                      label: "Niveau de sécurité",
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'safety_levels-wrapper',
                      item_wrapper_class: 'safety_levels-item',
                      input_html: {class: 'safety_levels-selector'},
                      collection: Event::SAFETY_LEVELS %>
        </div>

        <%= f.input :requested_equipment_description, label: "Demande de matériel", :placeholder => 'Tables, chaises, sonorisation...', :input_html => { :maxlength => 200 }%>
        <%= f.input :general_comment, label: "Commentaires"%>
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" data-action="event-form#back"class="btn btn-form">Retour</button>
        <button type="button" data-action="event-form#next" class="btn btn-form">Suivant</button>
      </div>
    </div>

    <div class="form-container d-none" data-event-form-target="formContainer">
      <div class="min-height-form">
        <i class="fas fa-phone-alt"></i>
        <div class="input-classic">
          <%= f.input :organization_name, label: "Structure organisatrice", :input_html => { :maxlength => 140 }%>
        </div>
        <div class="d-flex">
          <div class="half-width mr-1">
            <%= f.input :contact_last_name, label: "Nom du référent"%>
          </div>
          <div class="half-width ml-1">
            <%= f.input :contact_first_name, label: "Prénom du référent"%>
          </div>
        </div>
        <div class="d-flex">
          <div class="half-width mr-1">
            <%= f.input :contact_email, label: "Email" %>
          </div>
          <div class="half-width ml-1">
            <%= f.input :contact_phone_number, label: "Téléphone" %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between">
          <button type="button" data-action="event-form#back" class="btn-form">Retour</button>
        <%= f.button :submit, "Valider", class: " btn btn-form" %>
      </div>
    </div>
  <% end %>
</div>
