<div class="title text-center mt-2">
  <h3>EVENEMENTS A VENIR - <span class="event-to-validate"><%= @events.length %></span></h3>
</div>

<div class="container-fluid" id="accordion">
  <% @events.each do |event| %>
    <div class="card mx-auto mt-4" id="heading<%= event.id %>" data-toggle="collapse" data-target="#collapse<%= event.id %>" aria-expanded="true" aria-controls="collapse<%= event.id %>">
      <div class="card-header d-flex justify-content-between align-items-center btn p-0">
        <div class="primary-icon text-center <%= category_name_to_color(event.category) %>">
          <i class="fas <%= category_name_to_fa_class_name(event.category) %> fa-3x"></i>
        </div>

        <div class="info-event-header d-flex flex-column">
          <div class="info-header text-left p-3">
            <h4 class="bold"><%= event.name %></h4>
            <h5><%= event.organization_name %></h5>
          </div>
          <div class="info-localisation mr-5 text-left">
            <div class="address d-flex justify-content-between align-items-center mx-3 pb-2">
              <p class="mb-0"><i class="fas fa-map-marker-alt mr-1"></i><%= event.address %></p>
              <p class="mb-0 p-1 text-center district">Quartier <%= event.district %></p>
            </div>
          </div>
        </div>



        <div class="d-flex flex-column justify-content-between m-3">
            <div class="event-participants">
              <%= event.participants.count %> participant(s)
            </div>
          <% if event.participants.pluck(:id).include?(current_user.id) %>
            <% evt =  EventParticipation.find_by(user_id: current_user.id, event_id: event.id) %>
            <div class="i-participate-not btn w-100 text-white m-1">
              <%= button_to "je ne participe plus", agent_event_participation_path(evt.id), method: :delete, class: "btn btn-warning mb-2" %>
            </div>
          <% else %>
            <div class="i-participate w-100 m-1 text-white">
              <%= button_to "je participe!", agent_event_event_participations_path(event), method: :post, class: "btn btn-success mb-2" %>
            </div>
          <% end %>
        </div>

        <div class="info-dates">
          <p class="m-3"><%= event.start_at.strftime("%d/%m/%Y") %></p>
          <p class="m-3"><%= event.end_at.strftime("%d/%m/%Y") %></p>
        </div>
      </div>

      <div id="collapse<%= event.id%>" class="collapse" aria-labelledby="heading<%= event.id%>" data-parent="#accordion">
        <div class="card-body d-flex w-100 justify-content-between">
          <div class="d-flex left-infos-collapsed">
            <div class="infos-event">
              <div class="public-comment d-flex">
                <div class="icone <%= category_name_to_color(event.category) %>">
                  <i class="fas fa-info-circle fa-2x"></i>
                </div>
                <div class="public-infos text-left mb-5">
                  <p class="bold"><%= event.category %></p>
                  <p class="secondary-info"><%= event.public_description %></p>
                </div>
              </div>
              <div class="infos-utiles d-flex mb-5">
                <div class="icone <%= category_name_to_color(event.category) %>">
                  <i class="fas fa-euro-sign fa-2x"></i>
                </div>
                <div class="utiles-info">
                  <p><%= event.pricing_description %></p>
                </div>
              </div>
              <div class="infos-referent d-flex mb-5">
                <div class="icone <%= category_name_to_color(event.category) %>">
                  <i class="fas fa-address-card fa-2x"></i>
                </div>
                <div class="referent-infos">
                  <p class="font-weight-bold"><%= event.contact_last_name.capitalize %> <%= event.contact_first_name.capitalize %></p>
                  <p class="secondary-info"><%= event.contact_email %></p>
                  <p class="secondary-info"><%= event.contact_phone_number %></p>
                </div>
              </div>
            </div>
            <div class="logistique text-center">
              <div class="infos-securite bg-danger">
                <p class="mb-0 text-white"><%= event.required_safety_level %></p>
              </div>
              <div class="infos-matos mt-4">
                <% if event.equipment_requested? %>
                  <h6>Demande de matériel</h6>
                  <p><%= event.requested_equipment_description %></p>
                <% else %>
                  <h6>Pas de demande de matériel</h6>
                <% end %>
              </div>
              <div class="remarques mt-4">
                <h6>Commentaires</h6>
                <p><%= event.general_comment %></p>
              </div>
            </div>
          </div>
          <div class="info-dates"></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
